<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" *ngIf="!isloading" #loginForm="ngForm">
    <mat-form-field>
      <input type="email" ngModel name="email"
      matInput #emailInput="ngModel"
      placeholder="email-id" required email/>
      <mat-error *ngIf="">Please Provide Valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel
      matInput placeholder="password" #passwordInput="ngModel" required/>
      <mat-error *ngIf="">Please Provide Valid password</mat-error>
    </mat-form-field>
    <button *ngIf="!isloading" mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
